:root {
    --primary-color: #2b9cd9;
}


body {
    /*
    margin: 1em 0 0 0;
    padding: 0;
    */
    text-align: center;

}
body {
    font-size: 1.4em;
}

p {
    font-weight: bold;
}

/*div {
    border: grey 1px solid;
}*/

div.col-md-8.zeile {
    text-align: left;
}
.row.bar {
 /*   margin: 1em auto;*/
}

p.titel {
    font-weight: bold;
    margin: 0;
    font-size: 1.6em;

}

span.title-it {
    color: var(--primary-color);
}


div.notiz-liste {
    /*width: 100%;
    height: 10em;*/
    background-color: #f7fcff;

    border-radius: 0.5em;
}


div.col-md-6.links {
 /*   width: 30%;*/
    border-right: #f7fcff 1px solid;
}

div.col-md-6.rechts {
    /*width: 70%;*/
}

div.editieren {
    text-align: left;
}

.btn-default {
    color: white;
    background-color: var(--primary-color);

}

.btn-default:hover {
    color: white;
    background-color: #1d86bf;
}

input, textarea {
    border-radius: 0.5em;
    border: none;
    background-color: #f7fcff;
    width: 80%;
    margin: 0 2em 0 -1em;
}



